@import "src/common/styles/sass/variables";

.title {
  font-weight: 300;
  color: $textColor;
  text-transform: capitalize;
  margin: 0 0 30px;
  position: relative;

  &::before {
    content: '';
    background: $primaryColor;
    width: 55px;
    height: 1px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-30px, 50px);
    margin: 30px auto;
  }

  & h2 {
    font: 700 40px/1.2 'Josefin Sans', sans-serif;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 5px;
    font-size: 36px;
    margin-bottom: 30px;
  }
}
