@import "src/common/styles/sass/variables";

.projectsBlock {
  display: flex;
  justify-content: center;
  background-color: $bgMainColor;
  padding: 100px 0;


  .projectsContainer {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap
  }

  .projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
}










